h1 {
    font-family: 'VT323', monospace;
    /*animation: blinker 1s linear infinite;*/

}

/*#turn{*/
    /*animation: blinker 1s linear infinite;*/

/*}*/
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

td {
    width: 100px;
    height: 80px;
    border: 1px solid black;
    font-family: 'VT323', monospace;
    font-size: 32px;

}

table {
    border: 2px solid black;
}

p{
    font-family: 'VT323', monospace;
    font-size: 20px;
}

